@inherits ComponentBase

<div class="markdown-editor-container">
    <button @onclick="SwitchEditView">Switch</button>

    @if (IsEditing)
    {
        <textarea @bind="@Content">

        </textarea>
    }
    else
    {
        <MarkdownView Content="@Content" />
    }
</div>
