@inherits ComponentBase
<div class="markdown-editor-container">
    
    <div class="markdown-editor-buttons-container">
        <button @onclick="BoldClicked"><b>B</b></button>
        <button @onclick="ItalicClicked"><i>I</i></button>
        <button @onclick="HeadingClicked">H</button>
        
        <button @onclick="QuoteClicked">"</button>
        <button @onclick="GenericListClicked">List</button>
        <button @onclick="NumberedListClicked">NList</button>

        <button @onclick="LinkClicked">Link</button>
        <button @onclick="ImageClicked">Image</button>

        <button @onclick="PreviewClicked">Preview</button>
        <button @onclick="SideBySideClicked">Side</button>
        <button @onclick="FullScreenClicked">Full</button>

        <button @onclick="HelpClicked">Help</button>
    </div>

    @if (ShowPreview)
    {
        <textarea @bind="@Content">

        </textarea>
    }
    else
    {
        <MarkdownView Content="@Content"/>
    }
</div>
